* {
    margin: 0;
    padding: 0;
}

.ant {
    content: url("../assets/ant.png");
    width: 1em;
    position: absolute;
    z-index: 1;

    transition: left .5s, top .5s, transform .1s;
}

#x, #y, #z {
    position: absolute;
    border: 1px solid green;
}